<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vue</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="o.stankevich">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <script src="https://kit.fontawesome.com/4a76c04616.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <div class="mainer mainer--header">Todo list</div>
    </header>
    <div id="app" class="mainer">
        <div class="category-grid">
            <div class="category-grid__cell" v-for="category in categories" v-if="filteredList(category.name).length">
                <div class="category-grid__caption">{{category.name}}</div>
                <ul class="block-list" v-if="filteredList(category.name).length">
                    <li class="block-list__item" v-for="(item, key) in filteredList(category.name)">
                        <div class="block-list__item-head">
                            <div class="block-list__item-checkbox-wrapper"><input class="block-list__item-checkbox"
                                    type="checkbox" v-model="item.isDone"></div>
                            <div class="block-list__item-data"><span :class="{'line-through' : item.isDone}"
                                    class="decoration">{{item.name}}</span></div>
                            <div class="block-list__item-buttons">
                                <button title="Edit" class="btn" @click="item.isEdit = !item.isEdit"
                                    :disabled="item.isDone"><i class="fas fa-pen"></i></button>
                                <button title="Delete" class="btn btn--red" @click="deleteItem(key)"><i
                                        class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                        <div class="block-list__item-edit" v-if="item.isEdit"><input type="text"
                                v-model.lazy="item.name">


                            <select v-model="item.category">
                                <option value="" disabled hidden>Select category</option>
                                <option v-for="category in categories" :value="category.name">{{category.name}}</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="category-grid__cell category-grid__cell-empty"></div>
            <div class="category-grid__cell category-grid__cell-empty"></div>
        </div>
        <div class="block-new">
            <input class="block-new__element" type="text" v-model.trim="newItemName" placeholder="Enter new todo">
            <select class="block-new__element" v-model="newItemCategory">
                <option value="" disabled hidden>Select category</option>
                <option v-for="category in categories" :value="category.name">{{category.name}}</option>
            </select>
            <button class="btn block-new__element" @click="addItem()" :disabled="!(newItemName && newItemCategory)"><i
                    class="fas fa-plus"></i>Add todo</button></div>
        <div class="block-new">
            <input class="block-new__element" type="text" v-model.trim="newCategoryName"
                placeholder="Enter new category">

            <button class="btn block-new__element" @click="addCategory()" :disabled="!newCategoryName"><i
                    class="fas fa-plus"></i>Add</button></div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>